@using X.PagedList;
@using X.PagedList.Mvc.Core

@model IPagedList<HastalikTakibi.DAL.Models.Database.DiseaseView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script type="text/javascript" language="JavaScript"></script>
   
<style>
    .paging {
        display: block;
        width: max-content;
        font-size: xx-large;
        margin-left: 45px;
        font-family: sans-serif;
        border: 1px solid;
        background: darkgrey;
        height: 50px;
        margin-top: 15px;
    }
</style>

</head>

<body>
    <div class="container" style=" max-width: initial;">
        <div>
            <h3 style=" color: #ff9030; text-align: center; border: solid 2px black; margin-top: 2px; background-color: green; height: 45px;">Hastalık Listesi</h3>
            <a class="btn btn-success btnAdd" href="/Disease/DiseaseAdd" style="max-width:100%;">Yeni Hastalık Ekle</a>
            <table id="example" class="table table-strip table-bordered dt-responsive nowrap" style="margin-top:10px; width:100%;" cellspacing="0">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Ad</th>
                        <th>Hastalık Kategorisi </th>
                        <th>İlk Görülme Zamanı</th>
                        <th>Kayıt Zamanı </th>
                        <th>Son Güncelleme Zamanı </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var disease in Model)
                    {
                        <tr>
                            <th>@disease.Id</th>
                            <td>@disease.Name</td>
                            <td>@disease.Category</td>
                            <td>@disease.FirstSeenDate</td>
                            <td>@disease.CreateTime</td>
                            <td>@disease.LastUpdateTime</td>
                            <td><a class="btn btn-success btnUpdate" href="/Disease/DiseaseUpdate/@disease.Id" data - id="@disease.Id">Güncelle </a></td>

                            <td><a class="btn btn-danger btnDlete" href="/Disease/DiseaseDelete/@disease.Id" data - id="@disease.Id"> Sil </a></td>

                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div class="paging">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</body>

