@model List<HastalikTakibi.DAL.Models.Database.Patient>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container" style=" max-width: 100%;">
    <div class="header" style=" color: #ff9030; text-align: center; border: solid 2px black; margin-top: 2px; background-color: green; height: 45px; width: 1520px;"> <h3>Hasta Listesi</h3></div>
    <div>
        <a class="btn btn-success btnAdd" href="/Patient/PatientAdd" style="margin-top:5px;">Yeni Hasta Ekle</a>
    </div>
    
    <table class=" table table table-striped" style="margin-top:15px;"> 
        <thead>
            <tr>
                <th>id</th>
                <th>T.C</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>E-Mail</th>
                <th>Phone</th>
                <th>Province</th>
                <th>District</th>
                <th>CreateTime </th>
                <th>Last Update Time </th>
                <th>Update </th>
                <th>Delete </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in Model)
            {
            <tr>
                <th>@patient.Id</th> 
                <th>@patient.TC</th>
                <td><a class="patintList" href="/Patient/PatientInformation/@patient.Id" data-id="@patient.Id">@patient.Name</a></td>
                <td>@patient.Surname</td>
                <td>@patient.Address</td>
                <td>@patient.EMail</td>
                <td>@patient.Phone</td>
                <td>@patient.Province</td>
                <td>@patient.District</td>
                <td>@patient.CreateTime</td>
                <td>@patient.LastUpdateTime</td>
                <td><a class="btn btn-success btnUpdate" href="/Patient/PatientUpdate/@patient.Id" data-id="@patient.Id">Güncelle </a></td>

                <td><a class="btn btn-success btnUpdate" href="/Patient/PatientDelete/@patient.Id" data-id="@patient.Id">sil </a></td>

                

            </tr>
            }
        </tbody>


    </table>
</div>
